h1 {
  text-align: center;
  font-family: "Righteous";
  color: #EDF5E1;
  font-size: 60px;
  padding: 20px 0 30px 0;
  text-shadow: 2px 2px #05386B;
}

footer {
  text-align: center;
}

body {
  background-image:
    linear-gradient(
      to right,
      #05386B,
      #5CDB95 15%,
      #5CDB95 15%,
      #5CDB95 85%,
      #5CDB95 85%,
      #05386B
    );
}

img {
  width: 50%;
  height: 50%;
}

footer {
  display: inline;
}

footer img {
  width: 10%;
  height: 10%;
}

.row {
  text-align: center;
  margin-top: 10px;
  overflow: hidden;
}

/*div.col-md-6 {
}*/

.well {
  background-color: #EDF5E1;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 20px;
  overflow: hidden;
}

/*.side {
}*/

.well:hover {
  position: relative;
  top: -5px;
  box-shadow: 15px 15px 30px #000;
}

.well p {
  padding-top: 15px;
  font-style: italic;
}

.well span {
  font-weight: bold;
  font-style: normal;
  font-size: 14pt;
}
